services:
  esitietoni-frontend:
    container_name: PATH_TO_CONTAINER_REGISTRY
    restart: always
  esitietoni-backend:
    container_name: PATH_TO_CONTAINER_REGISTRY
    environment:
      - POSTGRES_URL=${POSTGRES_URL}
      - PORT=${PORT}
    restart: always